*
{padding: 0; margin: 0; box-sizing: border-box;}
/* ------------------------------header css starts--------------- */
body{height: 900px;}
header {
	background: url('https://freefrontend.com/assets/img/css-loaders/gooey-css-loader.gif');
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius:0% 0% 30% 30% / 10%;
    
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
    
  background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
	
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 30px;
}

h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

/* button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: yellow;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
	cursor: pointer;
}

/* ------------------------------header css ends--------------- */
.bf:hover{
    background-color: black;
    color:white;
}
.s1:hover{
     box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.17);
    
      
}
.s1{
    border-radius:25px;
}

 .glow-on-hover {
    width: 160px;
    height: 50px;
    border: none;
    outline: none;
    color:white;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    padding-top:5px ;
    font-size: 18px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
    color:tomato;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
   color:tomato;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/*---------------------------------------------- footer  css ------------------------------ */

